# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data=pd.read_csv('city_data.csv')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations=city_data[['Lat','Lng']]
humidity=city_data['Humidity']
g_key

'AIzaSyBAhfhMN5wj7w5kbYb9Bh522RZPasXmZdI'

In [4]:
gmaps.configure(api_key=g_key)
# Plot Heatmap
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=max(humidity),point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
new_city_data=city_data.loc[city_data['Max_Temp']>=70].loc[city_data['Max_Temp']<=80].loc[city_data['Cloudiness']==0].loc[city_data['Wind_Speed']<10]
new_city_data=new_city_data.reset_index()
new_city_data=new_city_data.drop(columns={'index','Unnamed: 0'})
new_city_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed
0,elat,0,CM,1578088817,88,2.91,11.16,71.60,2.08
1,badou,0,TG,1578088923,28,7.58,0.61,71.19,2.51
2,guamuchil,0,MX,1578089030,47,25.47,-108.10,75.99,3.00
3,riyadh,0,SA,1578089188,33,24.63,46.72,71.60,8.05
4,masvingo,0,ZW,1578089188,59,-20.08,30.83,71.76,7.14
5,chiredzi,0,ZW,1578089190,49,-21.05,31.67,78.12,4.85
6,gwanda,0,ZW,1578089242,39,-20.94,29.00,77.32,8.66
7,bagotville,0,AU,1578089346,78,-28.98,153.42,75.20,6.93
8,doba,0,ET,1578089348,61,9.29,41.09,71.17,6.40

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df=[]
hotel_df=new_city_data
hotel_df['Hotel Name']=""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed,Hotel Name
0,elat,0,CM,1578088817,88,2.91,11.16,71.60,2.08,
1,badou,0,TG,1578088923,28,7.58,0.61,71.19,2.51,
2,guamuchil,0,MX,1578089030,47,25.47,-108.10,75.99,3.00,
3,riyadh,0,SA,1578089188,33,24.63,46.72,71.60,8.05,
4,masvingo,0,ZW,1578089188,59,-20.08,30.83,71.76,7.14,
5,chiredzi,0,ZW,1578089190,49,-21.05,31.67,78.12,4.85,
6,gwanda,0,ZW,1578089242,39,-20.94,29.00,77.32,8.66,
7,bagotville,0,AU,1578089346,78,-28.98,153.42,75.20,6.93,
8,doba,0,ET,1578089348,61,9.29,41.09,71.17,6.40,

In [7]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    
    lat=str(row['Lat'])
    lng=str(row['Lng'])
    target_coordinates = f'{lat},{lng}'
    target_search = "Hotel"
    target_radius = 5000
    target_type = "hotel"

    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }

    # run a request using params dictionary
    response = requests.get(base_url, params=params).json()
    results=response['results']
    try:
        hotel_df.loc[index, 'Hotel Name']=results[0]['name']
    except IndexError:
        hotel_df.loc[index, 'Hotel Name']="None"

In [8]:
no_hotel=hotel_df[hotel_df['Hotel Name']=='None'].index
hotel_df=hotel_df.drop(no_hotel)
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max_Temp,Wind_Speed,Hotel Name
0,elat,0,CM,1578088817,88,2.91,11.16,71.60,2.08,NDANCY HOTEL
1,badou,0,TG,1578088923,28,7.58,0.61,71.19,2.51,Hôtel Abuta
2,guamuchil,0,MX,1578089030,47,25.47,-108.10,75.99,3.00,Hotel Davimar
3,riyadh,0,SA,1578089188,33,24.63,46.72,71.60,8.05,InterContinental Riyadh
4,masvingo,0,ZW,1578089188,59,-20.08,30.83,71.76,7.14,Regency Flamboyant Hotel
5,chiredzi,0,ZW,1578089190,49,-21.05,31.67,78.12,4.85,The Nesbitt Arms
6,gwanda,0,ZW,1578089242,39,-20.94,29.00,77.32,8.66,Gwanda Hotel.

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map

markers=gmaps.marker_layer(locations)
symbol_layer = gmaps.symbol_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig.add_layer(symbol_layer)
fig
# Display Map

Figure(layout=FigureLayout(height='420px'))